<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>todoList - 登录</title>
<script type="text/javascript" src="/public/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/public/js/jquery.form.js"></script>
<script type="text/javascript" src="/public/js/angular.min.js"></script>

<link rel="stylesheet" href="/public/css/style.css" />

</head>
<body>
	<div id="todoapp">
		<header>
			<h1>login</h1>
			<form id="form" method="post">
				<input id="userName" name="userName" type="text"
					placeholder="username" />
				<input id="password" name="password" type="password"
					placeholder="password" />
				<button type="submit">login</button>
			</form>
		</header>
		<div id="main">
			
		</div>
	</div>
	<div id="instructions">
	    Double-click to edit a todo.
	</div>
	<div id="credits">
	    Created by Sever Ho
	    <br>Refer to : <a href="http://backbonejs.org/examples/todos/index.html" target="_blank">backbone - TodoMVC</a>.
	</div>
</body>
</html>